@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h2>
    For more information email Doug our Membeship Dirctor at lmycmembership@gmail.com he'll be happy to answer questions and guide you thru the process.
</h2>


    <address>
        <strong>Support:</strong>   <a>lmycmembership@gmail.com</a><br />
    </address>
