@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.lmyc.ca/sites/all/themes/lmyc/images/logo.png">
    <h1 class="lead">
        WELCOME TO LMYC
        ORGANIZATION
    </h1>
    <p><a href="https://www.lmyc.ca" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act.

            The mission and purpose of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing.

            As a co-op, it is possible to provide boats, equipment and sailing skill development at a fraction of the cost of any other sailing program you can find. The low cost, however, does require full participation of the members to make it succeed. All members are expected to contribute time for boat maintenance or helping with other activities toward our common goal.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            OPERATIONS
        </h2>
        <p>To maintain our co-op interest and it's continuing success, an annual election is held in February to select the Commodore, First and Second Vice Commodores, Treasurer and Secretary.</p>
        <p><a class="btn btn-default" href="http://www.lmyc.ca/organization">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            MEMBERSHIP
        </h2>
        <p>
            You don't need to own a boat or even know how to sail in order become a member of one of White Rock's best kept secrets – the Lower Mainland Yacht Co-op (LMYC). All you need is an interest in sailing.
        </p>
        <p><a class="btn btn-default" href="http://www.lmyc.ca/node/21">Read more &raquo;</a></p>
    </div>
</div>